#about {
    text-align: center;
    color: var(--aqua-green); 
    margin: auto;
    border: 10px solid gray;
    border-radius: 10%;
    padding: 20px;
    width: 1200px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    font-weight: bolder;
}

#project-link {
    
}