.container {
    align-content: center;
    text-align: center;
    font-size: 90%;
    font-family: 'Bungee', cursive;
    color: var(--aqua-green);
    position: relative;
    margin: auto;
}

.contact-form {
    margin: auto;
    font-size: 1.5em;
}