.jumbotron {
    /* background: url(../Assets/img/stars_horizontal.jpg) no-repeat center;
    background-size: cover;  */
    background: transparent;
    text-align: center;
    color: var(--aqua-green);
    font-family: 'Bungee', cursive;
    font-stretch: extra-expanded;
}
.lead {
    font-size: 250%;
}