.jumbotron {
    background: url(../Assets/img/stars_horizontal.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    text-size-adjust: 100%;
    color: var(--aqua-green);
    font-stretch: extra-expanded;
}