#project {
    text-align: center;
    color: var(--aqua-green); 
    font-family: 'Bungee', cursive;   
}

.creature-project {
    background-image: url(../Assets/img/creature_project.png);
    background-size: 25em;
    background-repeat: no-repeat;
    background-position: center;
}

.storefront-project {
    background-image: url(../Assets/img/storefront.png);
    background-size: 25em;
    background-repeat: no-repeat;
    background-position: center;
}