:root {
    --orange-red: #B63112;
    --brownish-gold: #B67D12;
    --blue-purple: #514C9F;
    --aqua-green: #9efcf4; 
    --violet: #8D3C95;
    --light-blue: rgb(93, 113, 179);
    --navy-blue: rgb(32, 44, 56);

    --font-one: 'VT323', monospace;
}